<div class="page-header">
    <div class="row">
        <div class="col-md-4 text-xs-center text-md-left text-nowrap">
            <h1><i class="page-header-icon ion-ios-pulse-strong"></i>Nota</h1>
        </div>

        <hr class="page-wide-block visible-xs visible-sm">

        <div class="col-xs-12 width-md-auto width-lg-auto width-xl-auto pull-md-right">
            <a href="#" class="btn btn-primary btn-block"><span class="btn-label-icon left ion-plus-round"></span>Novo</a>
        </div>

        <!-- Spacer -->
        <div class="m-b-2 visible-xs visible-sm clearfix"></div>

        <form action="" class="page-header-form col-xs-12 col-md-4 pull-md-right">
            <div class="input-group">
                <span class="input-group-addon b-a-0 font-size-16"><i class="ion-search"></i></span>
                <input type="text" placeholder=" pesquisar..." class="form-control p-l-0 b-a-0">
            </div>
        </form>
    </div>
</div>