<footer class="px-footer p-t-0 px-footer-bottom">
    <div class="box m-a-0 bg-transparent">
        <div class="box-cell col-md-3 p-t-3">
            <h5 class="m-t-0 m-b-1 font-size-13">Sobre nós</h5>
            <a href="#">Quem somos</a><br>
            <a href="#">Vagas</a><br>
            <a href="#">Novidades</a><br>
        </div>
        <div class="box-cell col-md-3 p-t-3">
            <h5 class="m-t-0 m-b-1 font-size-13">Ajuda</h5>
            <a href="#">Central de Suporte</a><br>
            <a href="#">Termos de Uso</a><br>
            <a href="#">Politicas de Privacidade</a><br>
        </div>
        <div class="box-cell col-md-3 p-t-3">
            <h5 class="m-t-0 m-b-1 font-size-13">Outros Produtos</h5>
            <a href="#">Financike</a><br>
            <a href="#">Clinike</a><br>
            <a href="#">AwesomeERP</a><br>
        </div>
        <div class="box-cell col-md-3 p-t-3 valign-middle">
            <a href="#" class="display-block m-b-1 text-nowrap"><i class="fa fa-twitter"></i>&nbsp;&nbsp;@@ikecode</a>
            <a href="#" class="display-block m-b-1 text-nowrap"><i class="fa fa-facebook"></i>&nbsp;&nbsp;IkeCode</a>
            <a href="#" class="display-block text-nowrap"><i class="fa fa-envelope"></i>&nbsp;&nbsp;suporte@Learnike.com.br</a>
        </div>
    </div>

    <hr class="page-wide-block">

    <span class="text-muted">Copyright © 2017 Learnike. Todos os Direitos Reservados.</span>
</footer>